#default option aliases
alias ls='ls --color=auto -F'
alias grep='grep --color=auto'
alias xxd='xxd -g 1'

#command aliases
alias cgrep='grep --color=always'
alias hl='history -iDd 0'
alias hlg='hl | grep'
alias nsa='netstat -pan46'
alias psl='ps -Heo pid,user,%cpu,%mem,pri,cls,ni,nlwp,tty,stat,start_time,bsdtime,cmd'
alias pslg='psl | grep'
alias xclip='xclip -selection clipboard'

SSHU_OPTS='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
alias sshu="ssh $SSHU_OPTS"
alias scpu="scp $SSHU_OPTS"
alias sshfsu="sshfs $SSHU_OPTS"
alias rsyncu="rsync --rsh=\"ssh $SSHU_OPTS\""
alias sshu-copy-id="ssh-copy-id $SSHU_OPTS"

alias diga='dig +noall +answer'

alias cuts='sqwst | cut'
alias sqws='sed -e "s/\\s\\+/ /g"' #squeeze whitespace
alias sqwst='sed -e "s/\\s\\+/\\t/g"' #squeeze whitespace to tab
alias trim='sed -e "s/^\\s*//" -e "s/\\s*$//"'

#mkdir + cd
mkcd() {
	mkdir -p -- "$1" &&
	cd -- "$1"
}

#Initialize a git repository
gitinit() {
	if [ -n "$1" ]; then mkdir -p -- "$1"; cd -- "$1"; fi
	git init .
	if git show-ref -q 2>/dev/null; [ $? -eq 1 ]; then
		git commit --allow-empty -m "Initial commit";
	fi
}

ipof() {
	dig +noall +answer "$@" | sed -e 's/\s\+/\t/g' | cut -f 5
}
