#Command overrides
ssh() {
	xtitle_push
	xtitle "SSH"
	command ssh "$@"
	xtitle_pop
}

#default option aliases
alias ls='ls --color=auto -F'
alias grep='grep --color=auto'
alias xxd='xxd -g 1'

#command aliases
alias cgrep='grep --color=always'
alias sddd='sudo dd bs=4M oflag=direct status=progress'
alias hl='history -iDd 0'
alias hlg='hl | grep'
alias nsa='netstat -pan46'
alias psl='ps -Heo pid,user,%cpu,%mem,pri,cls,ni,nlwp,tty,stat,start_time,bsdtime,cmd'
alias pslg='psl | grep'
alias xclip='xclip -selection clipboard'

SSHU_OPTS='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
alias sshu="ssh $SSHU_OPTS"
alias scpu="scp $SSHU_OPTS"
alias sftpu="sftp $SSHU_OPTS"
alias sshfsu="sshfs $SSHU_OPTS"
alias rsyncu="rsync --rsh=\"ssh $SSHU_OPTS\""
alias sshu-copy-id="ssh-copy-id $SSHU_OPTS"

alias diga='dig +noall +answer'

alias cuts='sqwst | cut'
alias sqws='sed -e "s/\\s\\+/ /g"' #squeeze whitespace
alias sqwst='sed -e "s/\\s\\+/\\t/g"' #squeeze whitespace to tab
alias trim='sed -e "s/^\\s*//" -e "s/\\s*$//"'

alias numdate='date "+%Y%m%d%H%M%S"'

#Set terminal window title
xtitle() {
	echo -en "\e]0;$@\a"
}

#Push/pop terminal window title
xtitle_push() { echo -en "\e[22;0t" }
xtitle_pop()  { echo -en "\e[23;0t" }

#mkdir + cd
mkcd() {
	mkdir -p -- "$1" &&
	cd -- "$1"
}

#Initialize a git repository
gitinit() {
	if [ -n "$1" ]; then mkdir -p -- "$1"; cd -- "$1"; fi
	git init .
	if git show-ref -q 2>/dev/null; [ $? -eq 1 ]; then
		git commit --allow-empty -m "Initial commit";
	fi
}

ipof() {
	getent hosts "$@" | cut -d' ' -f1
}
