[user]
	name = aib
	email = aibok42@gmail.com
[core]
	autocrlf = false
	safecrlf = true
[push]
	default = simple
	followTags = true
[pull]
	ff = only
[rebase]
	autoSquash = true
	missingCommitsCheck = warn

[mergetool]
	keepBackup = false

[diff]
	wsErrorHighlight = old,new
[log]
	date = iso

[color]
	ui = auto
[color "grep"]
	filename = magenta
	linenumber = green
	function = yellow

[alias]
	co = checkout
	prr = pull --rebase
	pff = pull --ff-only
	mff = merge --ff-only
	force-push = push --force-with-lease
	lg = log --graph --pretty=format:'%C(auto)%h%d%C(reset) %s %C(green)(%ad) %C(blue)<%an> %C(reset)' --date=relative
	lgd = log --graph --pretty=format:'%C(auto)%h%d%C(reset) %s %C(green)(%ad) %C(blue)(%ad) <%an> %C(reset)' --date=relative
	lga = log --graph --all --pretty=format:'%C(auto)%h%d%C(reset) %s %C(green)(%ad) %C(blue)<%an> %C(reset)' --date=relative
	lgad = log --graph --all --pretty=format:'%C(auto)%h%d%C(reset) %s %C(green)(%ad) %C(blue)(%cd) %C(green)<%an> %C(blue)<%cn> %C(reset)' --date=relative
	status-all = status --untracked-files=all --ignored
	clean-all = clean -dx
	ls-untracked = ls-files -o --exclude-standard
	change-commits = "!f() { VAR=\"$1\"; OLD=\"$2\"; NEW=\"$3\"; shift 3; FILTER_BRANCH_SQUELCH_WARNING=1 git filter-branch --env-filter \"if [ \\\"\\$$(echo $VAR)\\\" = '$OLD' ]; then export $VAR='$NEW'; fi\" $@; }; f"

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = aibok42@gmail.com
	smtpserverport = 587

[gui]
	diffopts = --ws-error-highlight=old,new
	gcwarning = false

[guitool "rm"]
	cmd = rm -f -- \"$FILENAME\"
	noconsole = yes
	needsfile = yes
	confirm = yes
