set editing-mode vi

set keymap vi-insert

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

"\C-A": beginning-of-line
"\C-E": end-of-line

set blink-matching-paren on
